@import url(http://fonts.googleapis.com/css?family=Lato:700);

/* body */
body.ui-mobile-viewport,
.ui-page.ui-page-theme-a {
  background: #BAD7F0;
	background-color: #BAD7F0;
	background-image: url('../img/background.png');
	background-size: 100%;
}

/* page */
.ui-page-theme-a .ui-header {
  background: url('../img/header.png');
  background-size: 100%;
  text-align: center;
  border: none;
  height: 39px;
}

/* box--middle */
.box--middle:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.box--middle {
  text-align: center;
  white-space: nowrap;
}

.box--middle > * {
  vertical-align: middle;
}

/* logo */
.logo-mini {
  max-height: 70%;
}

/* button */
#lawyer .ui-page-theme-a .ui-btn {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  /*font-size: 20px;*/
  color: #fffffe;
  text-shadow: none;
}


.image {
  display: block;
  margin: 0 auto;
}

.image--full {
  width: 100%;
}


/********************************/

.tip24 {
	text-align: center;
	margin-top: 38px;
}

.logo {
	text-align: center;
	max-width: 100%;
	margin-top: 90px;
}

.home.button {
	margin-top: 64px;
}

.item {
	background-color: #eeefef;
}

.item select {
	background-color: #eeefef;
}

.lawyer .button {
	background: rgba(255, 255, 255, 0.4);
	border: none;
	font-size: 20px;
	color: #fffffe;
}

.lawyer .button:active {
	background: rgba(255, 255, 255, 0.8);
}

.pane, .view {
	background-color: inherit;
}

.form-list .item {
	border: none;
}

.lawyer .btn-form ,
.lawyer .btn-pay {
	background: #DCDCDD;
	color: #221814;
	max-width: 139px;
	margin: 0 auto;
}

.lawyer .form_input {
	background: #DCDCDD;
	padding: 0 10px;
}

.lawyer .item-radio {
	border: none;
	padding-top: 2px;
	padding-bottom: 8px;
}

.lawyer .item-radio .item-content {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 8px;
	margin-right: 8px;
}

.pay-list {
	color: #595757;
}

.pay-list .item {
	border: none;
}

.pay-list .wrap {
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}

.period .wrap {
  padding: 16px 0 16px 0;
}

.period .time-start {
  
}

.period .time-end {
  
}

.period.period-highlight .wrap {
	background: url('../img/pay.png');
	background-size: 100%;
}

.pay-list .amount {
	font-size: 85px;
	color: #717071;
	display: block;
}

.asign-box {
	height: 300px;
}

svg.progress {
  position: relative;
  left: -5px;
  top: -5px;
}

svg.progress path {
	fill: none;
	stroke: #19bee1;
	stroke-width: 20;
	/*-webkit-transition: stroke-dashoffset 0.3s;*/
	/*transition: stroke-dashoffset 0.3s;*/
  stroke-dasharray: 628.31852px;

  /*animation: percent 10s infinite linear;
  -webkit-animation: percent 120s infinite linear;
     -moz-animation: percent 120s infinite linear;
      -ms-animation: percent 120s infinite linear;*/
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -135px 0 0 -95px;
  background: #fff;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  border: none;
}

.loading .xxx {
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 1s infinite linear;
  -webkit-animation: rotate 1s infinite linear;
}

.loading label {
  font: 14px/24px Lato, Helvetica, Helvetica Neue, Arial;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -26px 0 0 -50px;
  padding: 0;
  width: 100px;
  font-size: 54px;
  line-height: 54px;
  font-weight: 900;
  text-align: center;
}

.tip {
  text-align: center;
  position: relative;
  top: -10px
}

@-webkit-keyframes rotate {
  0%   { -webkit-transform: rotate3d(0, 0, 1, 0deg); }
  100% { -webkit-transform: rotate3d(0, 0, 1, 360deg); }
}

@keyframes rotate {
  0%   { transform: rotate3d(0, 0, 1, 0deg); }
  100% { transform: rotate3d(0, 0, 1, 360deg); }
}

@-webkit-keyframes percent {
  0% {
    stroke-dashoffset: 628.31852px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes percent {
  0% {
    stroke-dashoffset: 628.31852px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

.button-tel {
  width: 100%;
  display: block;
  text-align: center;
  background: rgba(254, 254, 254, 0.3);
  padding: 20px 0 28px 0;
  text-decoration: none;
}

.number {
  font-size: 42px;
  color: #FEFEFE;
  text-decoration: none;
  display: block;
  padding: 0 0 24px 0;
}

.photo {
  text-align: center;
  color: #FEFEFE;
}

.photo img{
  margin-top: 78px;
  width: 89px;
}

.photo h2 {
  color: #FEFEFE;
  font-size: 32px;
}

.input-phone {
  padding-top: 0;
}

.map {
  position: relative;
}

.landmark {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 42.5px;
  margin-top: -62px;
  margin-left: -21.25px;
}