body {
	background: #BAD7F0;
	background-image: url('../img/background.png');
	background-size: 100%;
}

.bar.bar-header {
	background: url('../img/header.png');
	background-size: 100%;
	text-align: center;
}

.logo_mini {
	height: 70%;
	margin: 0 auto;
}

.tip24 {
	text-align: center;
	margin-top: 38px;
}

.logo {
	text-align: center;
	max-width: 100%;
	margin-top: 90px;
}

.home.button {
	margin-top: 64px;
}

.item {
	background-color: #eeefef;
}

.item select {
	background-color: #eeefef;
}

.lawyer .button {
	background: rgba(255, 255, 255, 0.4);
	border: none;
	font-size: 20px;
	color: #fffffe;
}

.lawyer .button:active {
	background: rgba(255, 255, 255, 0.8);
}

.pane, .view {
	background-color: inherit;
}

.form-list .item {
	border: none;
}

.lawyer .btn-form {
	background: #DCDCDD;
	color: #221814;
	max-width: 139px;
	margin: 0 auto;
}

.lawyer .form_input {
	background: #DCDCDD;
	padding: 0 10px;
}

.lawyer .item-radio {
	border: none;
	padding-top: 2px;
	padding-bottom: 8px;
}

.lawyer .item-radio .item-content {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 8px;
	margin-right: 8px;
}