<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>呼叫律師</title>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link href="css/style.css" rel="stylesheet">
    <!-- <script src="js/app.js"></script> -->
  </head>
  <body id="lawyer">

    <div data-role="page" id="foo">

      <div data-role="header" class="box--middle">
        <img class="logo-mini" src="./img/logo-mini.png">
      </div>

      <div role="main" class="ui-content">
      </div>

      <a href="#bar" class="ui-btn ui-icon-arrow-r ui-btn-icon-right">
        按此開始呼叫律師
      </a>

    </div>

    <div data-role="page" id="bar">

      <div data-role="header" class="box--middle">
        <img class="logo-mini" src="./img/logo-mini.png">
      </div>

      <div role="main" class="ui-content">

        <div class="item">
          <h2>目前所在警察局：{{select.police.name}}</h2>
        </div>

        <div class="map item item-image">
          <img src="{{map}}">
          <img class="landmark" src="./img/landmark.png">
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            縣市：
          </div>
          <select ng-model="select.city" ng-change="changeCity()" ng-options="item.id as item.name for item in city">
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            警察局：
          </div>
          <select ng-model="select.police" ng-change="changePolice()" ng-options="item.name group by item.unit for item in police">
          </select>
        </label>

        <label for="city" class="select">縣市：</label>

        <select name="city" id="city">
            <option value="keelung">基隆</option>
            <option value="taipei">台北</option>
            <option value="taoyuan">桃園</option>
            <option value="hsinchu">新竹</option>
            <option value="miaoli">苗栗</option>
            <option value="taichung">台中</option>
            <option value="changhua">彰化</option>
            <option value="yunlin">雲林</option>
            <option value="chiayi">嘉義</option>
            <option value="tainan">台南</option>
            <option value="kaohsiung">高雄</option>
            <option value="pingtung">屏東</option>
            <option value="yilan">宜蘭</option>
            <option value="hualien">花蓮</option>
            <option value="taitung">台東</option>
            <option value="nantou">南投</option>
            <option value="penghu">澎湖</option>
        </select>

        <a class="ui-shadow ui-btn ui-corner-all" type="submit" href="#xzz">Submit</a>
      </div>

    </div>

    <div data-role="page" id="xzz">

      <div data-role="header">
        <h1>Bar</h1>
      </div>

      <div role="main" class="ui-content">
        123123
      </div>

    </div>
  </body>
</html>
