<ion-pane>
  <ion-header-bar class="bar-stable">
    <img class="logo_mini" src="./img/logo_mini.png" />
  </ion-header-bar>
  <ion-content>
  <div class="asign-box">
    <div class="loading">
      <svg class="progress" width="200" height="200"><path d="m100,10c17.905803,0 90,14.544197 90,90c0,17.905803 -14.544197,90 -90,90c-17.905803,0 -90,-14.544197 -90,-90c0,-17.905803 14.544197,-90 90,-90z" style="stroke-dasharray: 628.31852px; stroke-dashoffset: 628.31852px;"></path>
      </svg>
      <label>190</label>
    </div>
  </div>
  
  <div class="padding">
    <button ui-sref="form" class="button button-block">
        取消
    </button>
  </div>

  </ion-content>
</ion-pane>