<ion-pane>
  <ion-header-bar class="bar-stable">
    <img class="logo_mini" src="./img/logo_mini.png" />
  </ion-header-bar>
  <ion-content>
  <div class="list form-list">
    <label class="item">
      <h2>請協助提供聯絡方式</h2>
    </label>

    <label class="item item-stacked-label">
      <span class="input-label">姓名：</span>
      <input type="text" class="form_input">
    </label>

    <label class="item item-stacked-label">
      <span class="input-label">手機：</span>
      <input type="number" class="form_input">
    </label>

    <label class="item">
      <span class="input-label">案件類型：</span>
    </label>

    <label class="item item-radio padding">
      <input type="radio" name="group">
      <div class="item-content">
        毒品
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio padding">
      <input type="radio" name="group">
      <div class="item-content">
        交通
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio padding">
      <input type="radio" name="group">
      <div class="item-content">
        其他
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item padding">
      <a ui-sref="pay" class="button button-block btn-form">
          下一步
      </a>
    </label>
  </div>
  </ion-content>
</ion-pane>