<ion-pane>
  <ion-header-bar class="bar-stable">
    <img class="logo_mini" src="./img/logo_mini.png" />
  </ion-header-bar>
  <ion-content>
  <div class="list form-list">
    <label class="item">
      <h2>請協助提供聯絡方式</h2>
    </label>

    <label class="item item-stacked-label">
      <span class="input-label">姓名：</span>
      <input type="text" id="input-name" class="form_input">
    </label>

    <label class="item item-stacked-label input-phone">
      <span class="input-label">手機：</span>
      <input type="number" id="input-phone" class="form_input">
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        案件類型：
      </div>
      <select ng-model="type" ng-options="item for item in types">
      </select>
    </label>

    <label class="item padding">
      <a ng-click="submit()" class="button button-block btn-form">
          下一步
      </a>
    </label>
  </div>
  </ion-content>
</ion-pane>