<ion-pane>
  <ion-header-bar class="bar-stable">
    <img class="logo_mini" src="./img/logo_mini.png" />
  </ion-header-bar>
  <ion-content>
  <div class="list">

    <div class="item" ng-click="select.show=true">
      <h2>目前所在警察局：{{select.police.name}}</h2>
    </div>

    <div class="item item-image">
      <img src="{{map}}">
    </div>

    <label class="item item-input item-select" ng-show="select.show">
      <div class="input-label">
        縣市：
      </div>
      <select ng-model="select.city" ng-change="changeCity()" ng-options="key as item for (key, item) in city">
      </select>
    </label>

    <label class="item item-input item-select" ng-show="select.show">
      <div class="input-label">
        警察局：
      </div>
      <select ng-model="select.police" ng-change="changePolice()" ng-options="item.name group by item.unit for item in police">
      </select>
    </label>

  </div>
  
  <div class="padding">
    <button ui-sref="form" class="button button-block icon-right ion-chevron-right">
        下一步
    </button>
  </div>

  </ion-content>
</ion-pane>