<ion-pane>
  <ion-header-bar class="bar-stable">
    <img class="logo_mini" src="./img/logo_mini.png" />
  </ion-header-bar>
  <ion-content>
  <div class="list pay-list">
    <div class="item">
      <div class="wrap">
        <h2>付款資訊</h2>
      </div>
    </div>

    <div class="item">
      <div class="wrap">
        <span>本服務以小時計費，收費標準參考<a>費用說明</a></span>
      </div>
    </div>

    <div class="item period">
      <div class="wrap">
        <span class="time-start">PM18:00起</span>
        <span class="time-end">PM12:00止</span>
        <span class="price">5000</span>
      </div>
    </div>

    <div class="item period period-highlight">
      <div class="wrap">
        <span class="time-start">PM18:00起</span>
        <span class="time-end">PM12:00止</span>
        <span class="price">5000</span>
      </div>
    </div>

    <div class="item period">
      <div class="wrap">
        <span class="time-start">PM18:00起</span>
        <span class="time-end">PM12:00止</span>
        <span class="price">5000</span>
      </div>
    </div>

    <div class="item highlight">
      <div class="wrap">
        <span>預付兩小時訂金</span>
        <label class="amount">$10000</label>
      </div>
    </div>

    <label class="item padding">
      <button ui-sref="asign" class="btn-pay button button-block">
          確定
      </button>
    </label>
  </div>
  
  </ion-content>
</ion-pane>