<ion-pane>
  <ion-header-bar class="bar-stable">
    <img class="logo_mini" src="./img/logo_mini.png" />
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <div class="item" ng-click="select.show=true">
      <h2>請先填上你的基本資料</h2>
    </div>

    <label class="item item-input item-stacked-label">
      <span class="input-label">姓名：</span>
      <input type="text" placeholder="John">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">手機：</span>
      <input type="text" placeholder="John">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">First Name</span>
      <input type="text" placeholder="John">
    </label>

    <div class="list card">
      <label class="item item-input">
        <span class="input-label">案件類型：</span>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          毒品
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          交通
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          其他
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </div>
  
  <div class="padding">
    <button ui-sref="form" class="button button-block icon-right ion-chevron-right">
        下一步
    </button>
  </div>

  </ion-content>
</ion-pane>